@import "~bootstrap/scss/bootstrap";

$main_color: #663399;

.result {
    border: 1px solid $main_color;
    padding: 1rem;
}

.log {
    background-color:#111;
    color:#ccc;
    font-family:'Lucida Console', monospace;
}

h2 {
    font-size:1.3em;
}
